:root {
    --random: purple;
  }
.content{
    max-width: 680px;
    border: 2px dotted black;
    margin: auto;
    height:auto;
    position:relative;
    /* margin-top: 50px; */
}
.content > h2{
    position:absolute;
    top:-35px;
    left:50px;
    background:#fff;
    padding:0 20px;
    text-align: center;
  }
.lotocell{
    background-color: white;
    color: black;
    font-size: 25pt;
    font-weight: 600;
    text-align: center;
}
.emptycell{
    background-color: var(--random);
}
table, th, td {
    border: 2px solid black;
  }
  td{
      width: 11%;
      height: 60px;
      
  }