:root {
    --random: purple;
  }
.content{
    max-width: 680px;
    border: 2px dotted black;
    margin: auto;
    height:auto;
    position:relative;
    margin-top: 15px;
}
.content > h2{
    position:absolute;
    top:-35px;
    left:50px;
    background:#fff;
    padding:0 20px;
    text-align: center;
  }
.lotocell{
    background-color: white;
    color: black;
    font-size: 25pt;
    font-weight: 600;
    text-align: center;
}
.emptycell{
    background-color: var(--random);
}
table, th, td {
    border: 2px solid black;
  }
  td{
      width: 11%;
      height: 60px;
      
  }
.button{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 5px;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.lotobox{
    padding: 5px;
}
.lotonum{
    text-align: center;
    font-size: 45px;
    background-color: #4CAF50;
    border: solid black 2px;
    height: 55px;
    width: 55px;
    margin: 5px;
    display: inline-block;
}
.resultbox{
    margin: auto;
}
.resultnum{
    background-color: #4CAF50;
    height: 200px;
    width: 200px;
    margin: 15px;
    text-align: center;
    font-size: 150px;
    margin: auto;
    border: solid 3px red;
    color: red;
}